.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.total-container {
  border: 1px solid #000000;
  width: 500px;
  padding: 20px;
}
.input-container {
  border: 1px solid;
  padding: 22px;
  font-size: 20px;
  margin-bottom: 12px;
}
.input-field {
  padding: 10px;
  margin-bottom: 10px;
}
.title {
  margin: 10px;
}
.add-button {
  padding: 8px;
  margin: 4px;
}
.transaction-container {
  border: 1px solid;
  padding: 16px;
  margin-top: 26px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}
.balance {
  padding-bottom: 8px;
}
.mappedValue {
  font-size: 14px;
  font-weight: 400;
  padding: 4px;
}
.error{
  font-size: 12px;
  color: red;
  text-align: center;
  padding-bottom: 10px;
}
